@model1 WeiliessSunIntermergence.Models.GuestResponse
@model2 WeiliessSunIntermergence.Models.PageResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h1>Thank you Model1.Name</h1>
    |<p>
        The ArtTechnologyDatabase is as follow:-
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Your name: @Html.TextBoxFor(x => x.OK)
        </p>
        <input type="submit" value="Submit RSVP" />
        if (Model1.WillAttend == true)
        {
            <p>
                Find your Address in the enclosed envelope
            </p>
        }
        else
        {
            <p>
                Error!
            </p>
        }
    }

</body>
</html>
