@model WeiliessSunIntermergence.Models.PageResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h1>Thank you, @Model.Name!</h1>
    <p>
        Submit Machinery now:-
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Your name: @Html.TextBoxFor(x => x.OK)
        </p>
        <input type="submit" value="Submit RSVP" />
        if (Model.WillAttend == true)
        {
            <p>
                Find your Address in the enclosed envelope
            </p>
        }
        else
        {
            <p>
                Error!
            </p>
        }
    }
</body>
</html>
